
:root  {
    --background: 328 100% 95%;
    --foreground: 328 5% 0%;
    --card: 328 50% 90%;
    --card-foreground: 328 5% 10%;
    --popover: 328 100% 95%;
    --popover-foreground: 328 100% 0%;
    --primary: 328 90% 62%;
    --primary-foreground: 0 0% 0%;
    --secondary: 328 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 290 30% 85%;
    --muted-foreground: 328 5% 35%;
    --accent: 290 30% 80%;
    --accent-foreground: 328 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 328 5% 90%;
    --border: 328 30% 50%;
    --input: 328 30% 18%;
    --ring: 328 90% 62%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 328 50% 5%;
    --foreground: 328 5% 90%;
    --card: 328 50% 0%;
    --card-foreground: 328 5% 90%;
    --popover: 328 50% 5%;
    --popover-foreground: 328 5% 90%;
    --primary: 328 90% 62%;
    --primary-foreground: 0 0% 0%;
    --secondary: 328 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 290 30% 15%;
    --muted-foreground: 328 5% 60%;
    --accent: 290 30% 15%;
    --accent-foreground: 328 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 328 5% 90%;
    --border: 328 30% 18%;
    --input: 328 30% 18%;
    --ring: 328 90% 62%;
    --radius: 0.5rem;
  }
  