
:root  {
    --background: 76 100% 95%;
    --foreground: 76 5% 0%;
    --card: 76 50% 90%;
    --card-foreground: 76 5% 10%;
    --popover: 76 100% 95%;
    --popover-foreground: 76 100% 0%;
    --primary: 76 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 76 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 38 30% 85%;
    --muted-foreground: 76 5% 35%;
    --accent: 38 30% 80%;
    --accent-foreground: 76 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 76 5% 90%;
    --border: 76 30% 50%;
    --input: 76 30% 18%;
    --ring: 76 88% 58%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 76 50% 5%;
    --foreground: 76 5% 90%;
    --card: 76 50% 0%;
    --card-foreground: 76 5% 90%;
    --popover: 76 50% 5%;
    --popover-foreground: 76 5% 90%;
    --primary: 76 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 76 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 38 30% 15%;
    --muted-foreground: 76 5% 60%;
    --accent: 38 30% 15%;
    --accent-foreground: 76 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 76 5% 90%;
    --border: 76 30% 18%;
    --input: 76 30% 18%;
    --ring: 76 88% 58%;
    --radius: 0.5rem;
  }
  