
:root  {
    --background: 226.2 0% 95%;
    --foreground: 226.2 0% 10%;
    --card: 226.2 0% 90%;
    --card-foreground: 226.2 0% 15%;
    --popover: 226.2 0% 95%;
    --popover-foreground: 226.2 95% 10%;
    --primary: 226.2 57% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226.2 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 188.2 10% 85%;
    --muted-foreground: 226.2 0% 40%;
    --accent: 188.2 10% 80%;
    --accent-foreground: 226.2 0% 15%;
    --destructive: 0 50% 44%;
    --destructive-foreground: 226.2 0% 90%;
    --border: 226.2 20% 50%;
    --input: 226.2 20% 44%;
    --ring: 226.2 57% 21%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 226.2 10% 10%;
    --foreground: 226.2 0% 90%;
    --card: 226.2 0% 10%;
    --card-foreground: 226.2 0% 90%;
    --popover: 226.2 10% 5%;
    --popover-foreground: 226.2 0% 90%;
    --primary: 226.2 57% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226.2 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 188.2 10% 25%;
    --muted-foreground: 226.2 0% 60%;
    --accent: 188.2 10% 25%;
    --accent-foreground: 226.2 0% 90%;
    --destructive: 0 50% 44%;
    --destructive-foreground: 226.2 0% 90%;
    --border: 226.2 20% 44%;
    --input: 226.2 20% 44%;
    --ring: 226.2 57% 21%;
    --radius: 0.5rem;
  }
  